<aside class="wrapper" aria-label="Site navigation">
    <div class="default_title">
        <img src="{{ '/assets/img/mycomputer.png' | relative_url }}" alt="" />
        <h1>{{ site.name }}</h1>
    </div>
    {% include topbar.html %}
    <div class="tag_list">
        <ul id="tag-list">
            <li><a href="{{ '/' | relative_url }}" ><img src="{{ '/assets/img/disk.png' | relative_url }}" alt="" />(C:)</a>
            <ul>
                {% for item in site.data.navigation %}
                    {% if item.url == page.url %}
                        <li class="hit"><a href="{{ item.url | relative_url }}" title="{{ item.name }}"><img src="{{ '/assets/img/folder.ico' | relative_url }}" alt="" />{{ item.name }}</a></li>
                    {% else %}
                        <li><a href="{{ item.url | relative_url }}" title="{{ item.name }}"><img src="{{ '/assets/img/folder.ico' | relative_url }}" alt="" />{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            </li>
        </ul>
    </div>
    {% if current_collection == "blogs" or current_collection == "games" %}
        <div class="post_list">
            <ul>
                {% for post in site[current_collection] %}
                    {% if post.url != page.url %}
                        {% if post.id == page.id %}
                            <li class="hit"><a href="{{ post.url | relative_url }}" title="{{ post.title }}"><img height="32px" src="{{ post.icon | relative_url }}" alt="" title="{{ post.title }}" />{{ post.title }}</a></li>
                        {% else %}
                            <li><a href="{{ post.url | relative_url }}" title="{{ post.title }}"><img height="32px" src="{{ post.icon | relative_url }}" alt="" title="{{ post.title }}" />{{ post.title }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if (current_collection == "blogs" or current_collection == "games") and page.url != '/blogs/' and page.url != '/games/' or current_collection == "cv" %}
        <div class="post_total">
            {% if current_collection == "blogs" or current_collection == "games" or current_collection == "cv" %}
                {% assign object_count = site[current_collection] | size | minus: 1 %}
                <div class="left">{{ object_count }} object(s)</div>
            {% else %}
                <div class="left">{{ site.data.navigation | size }} object(s)</div>
            {% endif %}
            <div class="right">&nbsp;</div>
        </div>
    {% else %}
        {% if current_collection == "" %}
            <div class="post_total">
                <div class="left">{{ site.data.navigation | size }} object(s)</div>
                <div class="right">&nbsp;</div>
            </div>
        {% endif %}
    {% endif %}
</aside>