<ul class="topbar">
    <li><a href="{{ '/bio' | relative_url }}"><u>B</u>io</a></li>
    <li><a href="mailto:ahmed.lagha@inf.elte.hu"><u>E</u>mail</a></li>
    <li><a href="https://github.com/ahmed-fouad-lagha" target="_blank" rel="noopener noreferrer"><u>G</u>ithub</a></li>
    <li><a href="https://scholar.google.com/citations?user=KWuxUDwAAAAJ&hl=en&oi=ao" target="_blank" rel="noopener noreferrer">Google <u>S</u>cholar</a></li>
    <li><a href="{{ '/about' | relative_url }}"><u>A</u>bout</a></li>
</ul>