<!DOCTYPE html>
<html lang="en">
{% assign current_collection = page.collection | default: "" %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ahmed Fouad Lagha" /> 
    <meta name="description" content="{{ page.desc | default: site.description | escape }}" />
    <meta name="keywords" content="Ahmed Fouad Lagha,PhD,ELTE,Eötvös Loránd University,Machine Learning,Security,Privacy,Synthetic Data,Differential Privacy" /> 
    <link rel="stylesheet" href="{{ '/assets/css/atom-one-light.css' | relative_url }}">
    {% if page.title %}
        <title>{{ site.name}} | {{page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ '/assets/css/002.css' | relative_url }}">
    {% else %}
        <title>{{ site.name }}</title>
        <link rel="stylesheet" type="text/css" href="{{ '/assets/css/001.css' | relative_url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/win95.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/window.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/widgets.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/taskbar.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/start.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
    {% if current_collection == "blogs" %}
        <script src="{{ '/assets/js/anchor.min.js' | relative_url }}"></script>
    {% endif %}
    <script src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery-ui.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/win95.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/clock.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/widgets.js' | relative_url }}"></script>
</head>
<body>
    {% if current_collection == "blogs" %}
        <script src="{{ '/assets/js/anchor_links.js' | relative_url }}"></script>
    {% endif %}
    {% include desktop-sidebar.html %}
    {% if page.title %}
        <main class="content{% if page.class == "home_page" %} home_content{% endif %}">
            {% unless page.class == "home_page" %}
                <div class="post_title">
                    <img src="{{ page.icon | relative_url }}" alt="" />
                    <h1>{{ page.title }}</h1>
                    <a href="{{ '/' | relative_url }}" aria-label="Home"><div class="close_button"></div></a>
                </div>
                <ul class="topbar">
                    <li>Last updated: {{ site.time | date: '%B %-d, %Y' }}</li>
                </ul>
            {% endunless %}
            <div class="post_content" id="post">
                {% if page.class %}
                    <div class="{{ page.class }}">
                {% elsif current_collection == "blogs" %}
                    <div class="blog">
                {% endif %}
                        {{ content }}
                {% if page.class or current_collection == "blogs" %}
                    </div>
                {% endif %}
            </div>
        </main>
    {% endif %}
    {% include desktop-chrome.html %}
</body>
</html>