<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ahmed Fouad Lagha" /> 
    <meta name="description" content="Ahmed Fouad Lagha's homepage" /> 
    <meta name="keywords" content="Ahmed Fouad Lagha,PhD,ELTE,Eötvös Loránd University,Machine Learning,Security,Privacy,Synthetic Data,Differential Privacy" /> 
    <link rel="stylesheet" href="{{ '/assets/css/atom-one-light.css' | relative_url }}">
    {% if page.title %}
        <title>{{ site.name}} | {{page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ '/assets/css/002.css' | relative_url }}">
    {% else %}
        <title>{{ site.name }}</title>
        <link rel="stylesheet" type="text/css" href="{{ '/assets/css/001.css' | relative_url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/win95.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/window.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/widgets.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/taskbar.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/start.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <script src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery-ui.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/win95.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/clock.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/widgets.js' | relative_url }}"></script>
</head>
<body>
    {% assign array = page.id | split: "/"%}
    {% assign current_collection = array[1] %}
    {% if current_collection == "blogs" %}
        <script src="{{ '/assets/js/anchor_links.js' | relative_url }}"></script>
    {% endif %}
    <div class="wrapper">
        <div class="default_title">
            <img src="{{ '/assets/img/mycomputer.png' | relative_url }}" alt="" />
            <h1>{{ site.name }}</h1>
        </div>
        {% include topbar.html %}
        <div class="tag_list">
            <ul id="tag-list">
                <li><a href="{{ '/' | relative_url }}" ><img src="{{ '/assets/img/disk.png' | relative_url }}" alt="" />(C:)</a>
            <ul>
                {% assign collections = site.collections | where_exp: "item", "item.label != 'posts'" | sort: "pos"%}
                {% for collection in collections %}
                    {% if collection.label == current_collection %}
                        <li class="hit"><a href="{{ '/' | append: collection.label | append: '/#post' | relative_url }}" title="{{collection.name}}"><img src="{{ '/assets/img/folder.ico' | relative_url }}" alt="" />{{ collection.name }}</a></li>
                    {% else %}
                        <li><a href="{{ '/' | append: collection.label | append: '/#post' | relative_url }}" title="{{collection.name}}"><img src="{{ '/assets/img/folder.ico' | relative_url }}" alt="" />{{ collection.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
                </li>
            </ul>
        </div>
        <div class="post_list">
            <ul>
                {% for post in site[current_collection] %}
                    {% if post.url != page.url %}
                        {% if post.id == page.id %}
                            <li class="hit"><a href="{{ post.url | relative_url }}#post" title="{{ post.title }}"><img height="32px" src="{{ post.icon | relative_url }}" alt="" title="{{ post.title }}" />{{ post.title }}</a></li>
                        {% else %}
                            <li><a href="{{ post.url | relative_url }}#post" title="{{ post.title }}"><img height="32px" src="{{ post.icon | relative_url }}" alt="" title="{{ post.title }}" />{{ post.title }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="post_total">
            {% if current_collection %}
                <div class="left">{{ site[current_collection] | size }} object(s)</div>
            {% else %}
                <div class="left">{{ site.collections | where_exp: "item", "item.label != 'posts'" | size }} object(s)</div>
            {% endif %}
            <div class="right">&nbsp;</div>
        </div>
    </div>
    {% if page.title %}
        <div class="content">
            <div class="post_title">
                <img src="{{ page.icon | relative_url }}" alt="" />
                <h1>{{  page.title  }}</h1>
                <a href="{{ '/' | relative_url }}"><div class="close_button"></div></a>
            </div>
            <ul class="topbar">
                <li>Last updated: {{ site.time | date: '%B %-d, %Y' }}</li>
            </ul>
            <div class="post_content" id="post">
                {% if page.class %}
                    <div class="{{ page.class }}">
                {% endif %}
                        {{ content }}
                {% if page.class %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <script src="{{ '/assets/js/001.js' | relative_url }}"></script>

    <!-- Taskbar -->
    <div id="win_taskbar">
        <!-- Start Button -->
        <button type="button" id="win_start_button" aria-expanded="false" aria-controls="win_start">
            <img src="{{ '/assets/img/start.png' | relative_url }}" id="win_start_icon" alt="Windows Logo">
            <span id="win_start_text">Start</span>
        </button>
        <!-- Taskbar Buttons -->
        <div id="win_tb_placeholder">
        
        </div><!-- This is here to provide a target for the taskbar addition function -->
        <!-- System Tray -->
        <div id="win_systray">
            <span id="win_clock">&nbsp;</span>
        </div>
    </div>
    <!-- Start Menu -->
    <div id="win_start">
        <div id="win_start_banner">
            <img src="{{ '/assets/img/start_banner.png' | relative_url }}" alt="Windows 95" id="win_start_banner_img">
        </div>
        <!-- Start Menu Top-level List -->
        <div id="win_start_tli_cont">
            <!-- Programs -->
            <div id="win_start_tli_programs" class="win_start_toplevel_item">
                <img src="{{ '/assets/img/programs24.png' | relative_url }}" alt="Programs" class="win_start_tliicon">
                <span class="win_start_tlitext"><u>P</u>rograms</span>
            </div>
            <!-- Documents -->
            <div id="win_start_tli_documents" class="win_start_toplevel_item">
                <img src="{{ '/assets/img/documents24.png' | relative_url }}" alt="Documents" class="win_start_tliicon">
                <span class="win_start_tlitext"><u>D</u>ocuments</span>
            </div>
            <!-- Settings -->
            <div id="win_start_tli_settings" class="win_start_toplevel_item">
                <img src="{{ '/assets/img/settings24.png' | relative_url }}" alt="Settings" class="win_start_tliicon">
                <span class="win_start_tlitext"><u>S</u>ettings</span>
            </div>
            <!-- Find -->
            <div id="win_start_tli_find" class="win_start_toplevel_item">
                <img src="{{ '/assets/img/find24.png' | relative_url }}" alt="Find" class="win_start_tliicon">
                <span class="win_start_tlitext"><u>F</u>ind</span>
            </div>
            <!-- Help -->
            <div id="win_start_tli_help" class="win_start_toplevel_item">
                <img src="{{ '/assets/img/help24.png' | relative_url }}" alt="Help" class="win_start_tliicon">
                <span class="win_start_tlitext"><u>H</u>elp</span>
            </div>
            <!-- Run -->
            <button type="button" id="win_start_tli_run" class="win_start_toplevel_item" onclick="run(true)">
                <img src="{{ '/assets/img/run24.png' | relative_url }}" alt="Run..." class="win_start_tliicon">
                <span class="win_start_tlitext"><u>R</u>un...</span>
            </button>
            <!-- Divider -->
            <div class="win_start_divider">
                <div class="win_start_d1"></div>
                <div class="win_start_d2"></div>
            </div>
            <!-- Shut Down -->
            <div id="win_start_tli_shutdown" class="win_start_toplevel_item">
                <img src="{{ '/assets/img/shutdown24.png' | relative_url }}" alt="Shut Down..." class="win_start_tliicon">
                <span class="win_start_tlitext">Sh<u>u</u>t Down...</span>
            </div>
        </div>
    </div>    
    <div id="win_container">
        <div id="win_placeholder"></div><!-- This is here to provide a target for the window creation function -->
    </div>
    <div id="win_overlay">
    </div>
    {% include google_analytics.html %}
</body>
</html>